.education_content {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #f4eeec;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.education_content-image{
    margin-left: 5rem;
}

.education_content-detail{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.education_content-image img{
    padding-top: 20px;
    width: 450px;
    height: 400px;
}

@media screen and (max-width: 820px) {
    .education_content {
        flex-direction: column;
    }
    .education_content-image{
        display: none;
    }
    
  }
  
  @media screen and (max-width: 490px) {
    .education_content {
        flex-direction: column;
    }
    .education_content-image{
        display: none;
    }
  }

  