.work_detail-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    background:  var(--color-bg-light);
}

.work_detail-container a{
    color: rgb(117, 22, 131);
}

.work_detail-container p{
    width: auto;
    font-family: var(--font-family);
    color: var(--color-text-2);
    line-height: 1.4rem;
}

.work_detail-container span{
    font-family: var(--font-family);
    color: var(--color-text-2);
    line-height: 2rem;
}
.work_detail-container h2{
    font-family: var(--font-family);
    color: var(--color-text-2);
    line-height: 2rem;
}

@media screen and (max-width: 550px) {
    .work_detail-container h2 {
        font-size: 18px;
    }
    .work_detail-container span{
        font-size: 16px;
    }
    .work_detail-container p{
        font-size: 15px;
    }
}